# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    tags: [ 'v*' ]
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [15.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
    - run: npm run build
    - run: npm test
    - name: Deploy code coverage report
      uses: peaceiris/actions-gh-pages@v3
      with:
        deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
        publish_dir: ./coverage/lcov-report
    - name: build docker image
      if: startsWith(github.ref, 'refs/tags/')
      run: |
        echo ${{ secrets.PACKAGE_PUBLISH_TOKEN }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin
        docker build -t ghcr.io/juu-aix-ynov-campus/backend_uber:latest .
        docker image list
    - name: Docker push
      if: startsWith(github.ref, 'refs/tags/')
      run: |
        docker push ghcr.io/juu-aix-ynov-campus/backend_uber:latest
